.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
}
/* Change Navigation Color */
.navbar #navbarSupportedContent .nav-item a {
    color: #fff;
}

    .navbar #navbarSupportedContent .nav-item a:hover {
        color: #F0AAB1;
    }


/* Make Header Image Responsive */
.back-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 70vh;
    border-radius: 0px;
    margin-top: 74px;
}
