
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<html>
<head>
    <title>Adika</title>
</head>
<body>
    <h2 style="text-align:center;font-size:5vw;">Thanks for visiting us</h2>
</body>
</html>

